<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityname</key>
		<string>成都</string>
		<key>foodsname</key>
		<array>
			<dict>
				<key>details</key>
				<string>担担面</string>
				<key>title</key>
				<string>面条细薄，卤汁酥香，咸鲜微辣</string>
				<key>icon</key>
				<string>dandan.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>夫妻肺片</string>
				<key>title</key>
				<string>质嫩味鲜，麻辣浓香</string>
				<key>icon</key>
				<string>feipian.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>麻婆豆腐</string>
				<key>title</key>
				<string>麻辣烫香、酥嫩鲜活</string>
				<key>icon</key>
				<string>mapo.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>串串香</string>
				<key>title</key>
				<string>风味浓郁、菜品丰富</string>
				<key>icon</key>
				<string>chuanchuan.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityname</key>
		<string>杭州</string>
		<key>foodsname</key>
		<array>
			<dict>
				<key>details</key>
				<string>桂花糯米藕</string>
				<key>title</key>
				<string>孔孔入味 甜到内心</string>
				<key>icon</key>
				<string>nuomi.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>杭州小笼包</string>
				<key>title</key>
				<string>吃遍大江南北 这里最正宗</string>
				<key>icon</key>
				<string>baozi.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>杭州油墩儿</string>
				<key>title</key>
				<string>杭州骨子的食物，鲜为人知，却是真正的“杭州味道”</string>
				<key>icon</key>
				<string>youdun.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>龙井虾仁</string>
				<key>title</key>
				<string>以龙井茶的嫩芽烹制而成的虾仁</string>
				<key>icon</key>
				<string>xiaren.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityname</key>
		<string>北京</string>
		<key>foodsname</key>
		<array>
			<dict>
				<key>details</key>
				<string>北京爆肚</string>
				<key>title</key>
				<string>要吃秋，有爆肚</string>
				<key>icon</key>
				<string>baodu.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>北京芸豆卷</string>
				<key>title</key>
				<string>色泽雪白，质地柔软细腻，馅料香甜爽口</string>
				<key>icon</key>
				<string>yundou.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>北京杏仁豆腐</string>
				<key>title</key>
				<string>到底是布丁还是豆腐</string>
				<key>icon</key>
				<string>xinren.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>北京烤鸭</string>
				<key>title</key>
				<string>色泽红艳，肉质细嫩，味道醇厚，肥而不腻</string>
				<key>icon</key>
				<string>kaoya.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityname</key>
		<string>长沙</string>
		<key>foodsname</key>
		<array>
			<dict>
				<key>details</key>
				<string>剁椒鱼头</string>
				<key>title</key>
				<string>为什么剁椒鱼头被分成了两半</string>
				<key>icon</key>
				<string>yutou.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>长沙臭豆腐</string>
				<key>title</key>
				<string>臭豆腐的故事，你知道多少</string>
				<key>icon</key>
				<string>choudoufu.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>长沙糖油粑粑</string>
				<key>title</key>
				<string>糯米制成，香甜糯软，外脆内嫩</string>
				<key>icon</key>
				<string>baba.png</string>
			</dict>
			<dict>
				<key>details</key>
				<string>长沙口味虾</string>
				<key>title</key>
				<string>炒一碗口味虾，来一瓶冰啤酒，甩开膀子可以聊一宿</string>
				<key>icon</key>
				<string>xia.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
