<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityname</key>
		<string>成都</string>
		<key>foodsname</key>
		<array>
			<dict>
				<key>name</key>
				<string>担担面</string>
				<key>title</key>
				<string>面条细薄、卤汁酥香、咸鲜微辣</string>
				<key>details</key>
				<string>担担面中最有名的又要数陈包包的担担面了，它是自贡一位名叫陈包包的小贩始创于1841年，随后传入成都，因最初是挑着担子沿街叫卖而得名。走街串巷的担担面，用一中铜锅隔两格，一格煮面，一格炖蹄膀。现在成都、自贡等四川地区的担担面，多数已改为店铺经营，但依旧保持原有特色，尤以成都的担担面特色最浓。</string>
				<key>icon</key>
				<string>dandan.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>串串香</string>
				<key>title</key>
				<string>风味浓郁、菜品丰富</string>
				<key>details</key>
				<string>“串串香”名字的由来是因为这是一种以竹签串上各种菜，将其放进滚烫的火锅中涮着吃的小吃。串串香以其独特的魅力和鲜明的特色遍布于全国众多城市，“麻辣烫”亦是其变体，可以说只要有人的地方就有串串香的存在，甚至在一定程度上，串串香已成为四川味道的代表之一</string>
				<key>icon</key>
				<string>chuanchuan.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityname</key>
		<string>北京</string>
		<key>foodsname</key>
		<array>
			<dict>
				<key>name</key>
				<string>北京烤鸭</string>
				<key>title</key>
				<string>色泽红润、肥而不腻、外脆里嫩</string>
				<key>details</key>
				<string>烤鸭是具有世界声誉的北京著名菜式，起源于中国南北朝时期，《食珍录》中已记有炙鸭，在当时是宫廷食品。用料为优质肉食鸭北京鸭，果木炭火烤制，色泽红润，肉质肥而不腻，外脆里嫩。北京烤鸭分为两大流派，而北京最著名的烤鸭店也即是两派的代表。它以色泽红艳，肉质细嫩，味道醇厚，肥而不腻的特色，被誉为“天下美味”</string>
				<key>icon</key>
				<string>kaoya.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>爆肚</string>
				<key>title</key>
				<string>又脆又鲜，不油不腻</string>
				<key>details</key>
				<string>爆肚是北京风味小吃中著名的回族小吃，多为回族同胞经营。爆肚早在清乾隆年代就有记载，北京的清真餐馆和摊贩就经营爆肚。北京天桥有“爆肚石”，门框胡同有“爆肚杨”，还有“爆肚冯”、“爆肚满”等最为出名。</string>
				<key>icon</key>
				<string>baodu.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityname</key>
		<string>长沙</string>
		<key>foodsname</key>
		<array>
			<dict>
				<key>name</key>
				<string>长沙臭豆腐</string>
				<key>title</key>
				<string>色墨黑，外焦里嫩，鲜而香辣</string>
				<key>details</key>
				<string>长沙臭豆腐是湖南长沙传统的特色名吃，长沙当地人又称臭干子。色墨黑，外焦里嫩，鲜而香辣。 焦脆而不糊、细嫩而不腻、初闻臭气扑鼻，细嗅浓香诱人</string>
				<key>icon</key>
				<string>doufu.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>剁椒鱼头</string>
				<key>title</key>
				<string>鱼头糯软，肥而不腻，咸鲜微辣</string>
				<key>details</key>
				<string>剁椒鱼头的出处，据说可以追溯到清代雍正年间，反清文人黄宗宪因文忌“文字狱”而出逃。
路上途经湖南的一个小乡村，借住在一个贫苦的农户家。农夫从池塘中捕回一条胖头鱼，农妇便用做菜来款待黄宗宪。鱼洗净后，鱼肉放盐煮汤，再用自家产的辣椒剁碎后与鱼头同蒸，不想黄宗宪吃了觉得非常鲜美，无法忘怀。
事平回家后，便让家厨将这道菜加以改良，于是便有了今天的“剁椒鱼头”，并成为湘菜蒸菜的代表。</string>
				<key>icon</key>
				<string>yutou.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cityname</key>
		<string>杭州</string>
		<key>foodsname</key>
		<array>
			<dict>
				<key>name</key>
				<string>东坡肉</string>
				<key>title</key>
				<string>肥而不腻、色香俱全</string>
				<key>details</key>
				<string>东坡肉又名红烧肉、滚肉、东坡焖肉，是眉山和江南地区特色传统名菜。东坡肉在浙菜、川菜、鄂菜等菜系中都有，且各地做法也有差异，有先煮后烧的，有先煮后蒸的，有直接焖煮收汁的。红烧肉的主料和造型大同小异，主料都是半肥半瘦的猪肉，成品菜都是码得整整齐齐的麻将块儿，红得透亮，色如玛瑙，夹起一块尝尝，软而不烂，肥而不腻。
</string>
				<key>icon</key>
				<string>dongpo.png</string>
			</dict>
			<dict>
				<key>name</key>
				<string>西湖醋鱼</string>
				<key>title</key>
				<string>鱼肉嫩美、带有蟹味、鲜嫩酸甜</string>
				<key>details</key>
				<string>西湖醋鱼别名为叔嫂传珍，宋嫂鱼，是浙江杭州饭店的一道传统地方风味名菜。 
西湖醋鱼通常选用草鱼作为原料，烹制而成。烧好后，浇上一层平滑油亮的糖醋，胸鳍竖起，鱼肉嫩美，带有蟹味，鲜嫩酸甜</string>
				<key>icon</key>
				<string>cuyu.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
